<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="mySuite" verbose="1" >
    <test name="myTest">
        <classes>
            <class name="Greetz_nlTest">
                <methods>
                    <include name="checkFavorite"/>
                    <include name="checkTotalAmount"/>
                </methods>
            </class>
            <class name="RestTest"/>
        </classes>
    </test>
</suite>